*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
    
}
                                                        /* navigation section */
#top ul{
    position:fixed;
   width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 17px 0px; 
    /* background-color: #d6997c; */
    background-color: #564590;
    z-index: +11;

}
nav{
   
  
    
}
#top li a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    padding: 0px 14px;
  
   
}
#top li a:hover{
    color: black;
    text-decoration: underline;
    background-color: white;
    border-radius: 5px;
}
#top li a:active{
}
                                                        /* mid section 1 */
#mid1img{
    margin-top: 3rem;
    width: 100%;
}
#mid1{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
   top: 8rem;
   margin-left: 3rem;
}

#up_text{ 
   
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10rem;
    color: #35332f;

    
}
#mid_text{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
    color: #35332f;
}
#down_text{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
    color: white;
}
                                                        /* skill */
#skill{
    width: 100%;
    display: flex;
}
.skillcd{
    width: 100%;
    display: flex;
    
}
.skillitem{
    padding:19px ;
    margin: 5px;
    background-color: #564590;
    border-radius: 26px;
    color: white;

}
.skillc{

    display: inline-block;
    width: 19%; 
    margin: 0rem 1rem;
}

#skillid{
    font-size: 4rem;
    font-weight: 500;
    padding: 5px;
    text-align: center;
    background-color:  #564590;
    color: white;
    margin-bottom: 2rem;

}
#skill1 img{width: 100%;}
#skill2 img{width: 108%;}
#skill3 img{width: 86%;}
#skill4 img{width: 86%;}
#skill5 img{width: 101%;}
                                                    /* project */

#projectid{
    font-size: 4rem;
    font-weight: 500;
    padding: 5px;
    text-align: center;
    background-color:  #564590;
    color: white;
    margin-bottom: 1rem;
}
.p1{ 
    text-align: center;
    font-size: 2rem;
    text-decoration:underline;
    background-color: #d6caff;
    margin: 9px 9px;
    border-radius: 5px;
    padding: 8px 0px;
}
#p2,#p3{ 
    text-align: justify;
    font-size: 1rem;
    background-color: #d6caff;
    margin: 9px 9px;
    border-radius: 5px;
    padding: 8px 10px;
}
#project1c{
    display: flex;
    width: 100%; 
    
}
#project1c2{
    display: flex;
    width: 100%;
    
}
.project1,.project2{
    margin: 8px 9px;
    
    
}
.project1 img{
    border-radius: 10px;
    width: 100%;
}
#project2c{
    display: flex;
    width: 100%;  
}
.project2 img{border: 2px solid black;
    border-radius: 10px;
    width: 100%;
}


                                                    /* footer */
footer{
    background-color: black;   
}
#lefty{
color: white;
float: right;
margin:20px 33px;
}
#fb{
margin:8px 0px;
}
.foot img{
    width: 40px;
    margin: 8px 9px;
}